{% extends 'giftshopApp/index.html' %}


{% block title %}
{% load giftshoptag %}
{% setting_tag as setting %}
{{ setting.title }}|SignIn
{% endblock title %}


{% block description %}
{% load giftshoptag %}
{% setting_tag as setting %}
{{ setting.description|safe }}
{% endblock description %}


{% block keywords %}
{% load giftshoptag %}
{% setting_tag as setting %}
{{ setting.keyword }}
{% endblock keywords %}



{% block body %}
{% load crispy_forms_tags %}

<!-- Page Banner Section Start-->
<div class="page-banner-section section" style="background-image: url({{slider.image.url}})">
    <div class="container">
        <div class="row">

            <!-- Page Title Start -->
            <div class="page-title text-center col">
                <h1>User Update</h1>
            </div><!-- Page Title End -->

        </div>
    </div>
</div><!-- Page Banner Section End-->

<!-- /BREADCRUMB -->
<div class="contact-section section  pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30">
                <h1 class="font-weight-bold">User Panel</h1>
                {% include 'userApp/user_panel.html' %}
            </div>

            <div class="col-sm-12 col-md-12 col-lg-9 col-xs-12">
                <div class="billing-details">
                    <div>

                        {% if messages %}
                        {% for message in messages %}
                        <div style="color: #d43f3a; font-size: medium">
                            {{ message|safe }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <h1 class="text-center font-weight-bold">User Password Update</h1>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="login-form">
                                    
                        <div class="row mt-30">
                            <div class="col-md-12 col-12 mb-20">
                                {{ form|crispy }}
                            </div>
                       
                            <div class="col-12">
                                <button class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->



{% endblock body %}


{% block footer %}
{% include 'giftshopApp/footer.html' %}
{% endblock footer %}