{% extends 'giftshopApp/index.html' %}


{% block title %}
{% load giftshoptag %}
{% setting_tag as setting %}
{{ setting.title }}|SignIn
{% endblock title %}


{% block description %}
{% load giftshoptag %}
{% setting_tag as setting %}
{{ setting.description|safe }}
{% endblock description %}


{% block keywords %}
{% load giftshoptag %}
{% setting_tag as setting %}
{{ setting.keyword }}
{% endblock keywords %}



{% block body %}


<!-- Page Banner Section Start-->
<div class="page-banner-section section" style="background-image: url({{slider.image.url}})">
    <div class="container">
        <div class="row">

            <!-- Page Title Start -->
            <div class="page-title text-center col">
                <h1>Wishlist</h1>
            </div><!-- Page Title End -->

        </div>
    </div>
</div><!-- Page Banner Section End-->


<!-- Wishlist Section Start-->
<div class="wishlist-section section pt-120 pb-90">
    <div class="text-center">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="table-responsive mb-30">
                    <table class="table cart-table text-center">

                        <!-- Table Head -->
                        <thead>
                            <tr>
                                <th class="number">#</th>
                                <th class="image">image</th>
                                <th class="name">product name</th>
                                <th class="qty">stock status</th>
                                <th class="price">price</th>
                                <th class="total">add to cart</th>
                                <th class="remove">remove</th>
                            </tr>
                        </thead>

                        <!-- Table Body -->
                        <tbody>

                            {% for f in favourites %}
                            <tr>
                                <td><span class="cart-number">{{ forloop.counter }}</span></td>
                                <td><a href="{% url 'product_details' slug=f.product.slug %}" class="cart-pro-image"><img src="{{ f.product.ImageUrl }}" alt="" /></a>
                                </td>
                                <td><a href="{% url 'product_details' slug=f.product.slug %}" class="cart-pro-title">{{ f.product.title }}</a></td>
                                <td>

                                    {% if f.product.amount >= 1 %}
                                    <p class="stock in-stock">in stock</p>
                                    {% else %}
                                    <p class="stock in-stock" style="color: red;">out of stock</p>
                                    {% endif %}

                                </td>
                                <td>
                                    <p class="cart-pro-price">tk {{ f.product.new_price }}</p>
                                </td>
                                
                                {% if f.product.amount == 0 %}
                                <td><button class="wl-add-cart-btn"><a
                                    >Not Available </a> </button>
                                </td>
                                {% else %}
                                <td><button class="wl-add-cart-btn"><a
                                    href="{% url 'Add_to_Shoping_cart' id=f.product.id %}">add to cart </a> </button>
                                </td>
                                {% endif %}
                                    
                               
                                <td><a class="cart-pro-remove" href="{% url 'wishlist_delete' id=f.id %}"><i
                                            class="fa fa-trash-o"></i></a></td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div><!-- Wishlist Section End-->


{% endblock body %}


{% block footer %}
{% include 'giftshopApp/footer.html' %}
{% endblock footer %}