    {% load static %}
    
    <!-- Product Section Start-->
    <div class="product-section section pt-70 pb-60">
        <div class="container">
           
            <!-- Section Title Start-->
            <div class="row">
                <div class="section-title text-center col mb-60">
                    <h1>Featured Products</h1>
                </div>
            </div><!-- Section Title End-->
            
            <!-- Product Wrapper Start-->
            <div class="row">
                
                <!-- Product Start-->
                <div class="col-lg-4 col-md-6 col-12 mb-60">
                   
                    <div class="product">

                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="product-details.html" class="img"><img src="{% static '' %}giftshopApp/img/product/1.jpg" alt="Product"></a>
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                            <!-- Label -->
                            <span class="label">New</span>
                        </div>
                        
                        <!-- Content -->
                        <div class="content">
                            
                            <!-- Head Content -->
                            <div class="head fix">
                               
                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a href="product-details.html">Holiday Candle</a></h5>
                                    <a href="shop.html" class="category">Catalog</a>
                                </div>
                                <!-- Price -->
                                <div class="price float-right">
                                    <span class="new">$38</span>
                                    <!-- Old Price Mockup If Need -->
                                    <!-- <span class="old">$46</span> -->
                                </div>
                                
                            </div>
                            
                            <!-- Action Button -->
                            <div class="action-button fix">
                                <a href="#">add to cart</a>
                            </div>
                            
                        </div>

                    </div>
                    
                </div><!-- Product End-->
                
                <!-- Product Start-->
                <div class="col-lg-4 col-md-6 col-12 mb-60">
                   
                    <div class="product">

                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="product-details.html" class="img"><img src="{% static '' %}giftshopApp/img/product/2.jpg" alt="Product"></a>
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                            <!-- Label -->
                            <!-- <span class="label">New</span> -->
                        </div>
                        
                        <!-- Content -->
                        <div class="content">
                            
                            <!-- Head Content -->
                            <div class="head fix">
                               
                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a href="product-details.html">Christmas Tree</a></h5>
                                    <a href="shop.html" class="category">Catalog</a>
                                </div>
                                <!-- Price -->
                                <div class="price float-right">
                                    <span class="new">$38</span>
                                    <!-- Old Price Mockup If Need -->
                                    <!-- <span class="old">$46</span> -->
                                </div>
                                
                            </div>
                            
                            <!-- Action Button -->
                            <div class="action-button fix">
                                <a href="#">add to cart</a>
                            </div>
                            
                        </div>

                    </div>
                    
                </div><!-- Product End-->
                
                <!-- Product Start-->
                <div class="col-lg-4 col-md-6 col-12 mb-60">
                   
                    <div class="product">

                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="product-details.html" class="img"><img src="{% static '' %}giftshopApp/img/product/3.jpg" alt="Product"></a>
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                            <!-- Label -->
                            <!-- <span class="label">New</span> -->
                        </div>
                        
                        <!-- Content -->
                        <div class="content">
                            
                            <!-- Head Content -->
                            <div class="head fix">
                               
                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a href="product-details.html">Santa Claus Doll</a></h5>
                                    <a href="shop.html" class="category">Catalog</a>
                                </div>
                                <!-- Price -->
                                <div class="price float-right">
                                    <span class="new">$38</span>
                                    <!-- Old Price Mockup If Need -->
                                    <!-- <span class="old">$46</span> -->
                                </div>
                                
                            </div>
                            
                            <!-- Action Button -->
                            <div class="action-button fix">
                                <a href="#">add to cart</a>
                            </div>
                            
                        </div>

                    </div>
                    
                </div><!-- Product End-->
                
                <!-- Product Start-->
                <div class="col-lg-4 col-md-6 col-12 mb-60">
                   
                    <div class="product">

                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="product-details.html" class="img"><img src="{% static '' %}giftshopApp/img/product/4.jpg" alt="Product"></a>
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                            <!-- Label -->
                            <span class="label">New</span>
                        </div>
                        
                        <!-- Content -->
                        <div class="content">
                            
                            <!-- Head Content -->
                            <div class="head fix">
                               
                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a href="product-details.html">Holiday Cap</a></h5>
                                    <a href="shop.html" class="category">Catalog</a>
                                </div>
                                <!-- Price -->
                                <div class="price float-right">
                                    <span class="new">$38</span>
                                    <!-- Old Price Mockup If Need -->
                                    <!-- <span class="old">$46</span> -->
                                </div>
                                
                            </div>
                            
                            <!-- Action Button -->
                            <div class="action-button fix">
                                <a href="#">add to cart</a>
                            </div>
                            
                        </div>

                    </div>
                    
                </div><!-- Product End-->
                
                <!-- Product Start-->
                <div class="col-lg-4 col-md-6 col-12 mb-60">
                   
                    <div class="product">

                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="product-details.html" class="img"><img src="{% static '' %}giftshopApp/img/product/5.jpg" alt="Product"></a>
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                            <!-- Label -->
                            <!-- <span class="label">New</span> -->
                        </div>
                        
                        <!-- Content -->
                        <div class="content">
                            
                            <!-- Head Content -->
                            <div class="head fix">
                               
                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a href="product-details.html">Holiday Doll</a></h5>
                                    <a href="shop.html" class="category">Catalog</a>
                                </div>
                                <!-- Price -->
                                <div class="price float-right">
                                    <span class="new">$38</span>
                                    <!-- Old Price Mockup If Need -->
                                    <!-- <span class="old">$46</span> -->
                                </div>
                                
                            </div>
                            
                            <!-- Action Button -->
                            <div class="action-button fix">
                                <a href="#">add to cart</a>
                            </div>
                            
                        </div>

                    </div>
                    
                </div><!-- Product End-->
                
                <!-- Product Start-->
                <div class="col-lg-4 col-md-6 col-12 mb-60">
                   
                    <div class="product">

                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="product-details.html" class="img"><img src="{% static '' %}giftshopApp/img/product/6.jpg" alt="Product"></a>
                            <!-- Wishlist -->
                            <a href="#" class="wishlist"><i class="fa fa-heart-o"></i></a>
                            <!-- Label -->
                            <!-- <span class="label">New</span> -->
                        </div>
                        
                        <!-- Content -->
                        <div class="content">
                            
                            <!-- Head Content -->
                            <div class="head fix">
                               
                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a href="product-details.html">Holiday Candle</a></h5>
                                    <a href="shop.html" class="category">Catalog</a>
                                </div>
                                <!-- Price -->
                                <div class="price float-right">
                                    <span class="new">$38</span>
                                    <!-- Old Price Mockup If Need -->
                                    <!-- <span class="old">$46</span> -->
                                </div>
                                
                            </div>
                            
                            <!-- Action Button -->
                            <div class="action-button fix">
                                <a href="#">add to cart</a>
                            </div>
                            
                        </div>

                    </div>
                    
                </div><!-- Product End-->
                
            </div><!-- Product Wrapper End-->
            
        </div>
    </div><!-- Product Section End-->
    
       
    
 
    <!-- Blog Section Start-->
    <div class="blog-section section bg-gray pt-100 pb-60">
        <div class="container">
           
            <!-- Section Title Start-->
            <div class="row">
                <div class="section-title text-center col mb-60">
                    <h1>Christmas Blog</h1>
                </div>
            </div><!-- Section Title End-->
            
            <div class="row">
                
                <!-- Blog Item Start-->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">
                    
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="{% static '' %}giftshopApp/img/blog/1.jpg" alt="blog"></a>
                    
                    <!-- Content -->
                    <div class="content fix">
                        
                        <!-- Publish Date -->
                        <span class="publish"><span>Published on:</span> 25 May 2017</span>
                        
                        <!-- Title -->
                        <h4 class="title"><a href="blog-details.html">If you are going to use a passage.</a></h4>
                        
                        <!-- Decs -->
                        <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>
                        
                        <!-- Read More Link --> 
                        <a href="blog-details.html" class="read-more">Read More</a>
                        
                    </div>
                    
                </div><!-- Blog Item End-->
                
                <!-- Blog Item Start-->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">
                    
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="{% static '' %}giftshopApp/img/blog/2.jpg" alt="blog"></a>
                    
                    <!-- Content -->
                    <div class="content fix">
                        
                        <!-- Publish Date -->
                        <span class="publish"><span>Published on:</span> 25 May 2017</span>
                        
                        <!-- Title -->
                        <h4 class="title"><a href="blog-details.html">Ut enim ad minima veniam, quis.</a></h4>
                        
                        <!-- Decs -->
                        <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>
                        
                        <!-- Read More Link --> 
                        <a href="blog-details.html" class="read-more">Read More</a>
                        
                    </div>
                    
                </div><!-- Blog Item End-->
                
                <!-- Blog Item Start-->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">
                    
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="{% static '' %}giftshopApp/img/blog/3.jpg" alt="blog"></a>
                    
                    <!-- Content -->
                    <div class="content fix">
                        
                        <!-- Publish Date -->
                        <span class="publish"><span>Published on:</span> 25 May 2017</span>
                        
                        <!-- Title -->
                        <h4 class="title"><a href="blog-details.html">At vero eos et accusamus et iusto</a></h4>
                        
                        <!-- Decs -->
                        <p>If you are going to use a passage of Lorem Ipsum, yneed to be sure there isn't anything embarrassing hidden ithe middle text. All the Lorem Ipsum.</p>
                        
                        <!-- Read More Link --> 
                        <a href="blog-details.html" class="read-more">Read More</a>
                        
                    </div>
                    
                </div><!-- Blog Item End-->
                
            </div>
            
        </div>
    </div><!-- Blog Section End-->
   