    {% load static %}

    <!-- Product Section Start-->
    <div class="product-section section pt-70 pb-60">
        <div class="text-center">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="container">

            <!-- Section Title Start-->
            <div class="row">
                <div class="section-title text-center col mb-60">
                    <h1>Featured Products</h1>
                </div>
            </div><!-- Section Title End-->

            <!-- Product Wrapper Start-->
            <div class="row">

                {% for p in products  %}
                <!-- Product Start-->
                <div class="col-lg-4 col-md-6 col-12 mb-60" id="{{p.id}}">

                    <div class="product">

                        <!-- Image Wrapper -->
                        <div class="image">
                            <!-- Image -->
                            <a href="{% url 'product_details' slug=p.slug %}" class="img"><img src="{{ p.ImageUrl }}"
                                    alt="Product"></a>
                            <!-- Wishlist -->
                            <a href="{% url 'favourite' id=p.id %}" class="wishlist"><i class="fa fa-heart-o"></i></a>
                            <!-- Label -->
                            {% if p.discount != 0 %}
                            <span class="label badge badge-success" style="color: white;"><i>Save
                                    {{p.discount}}%</i></span>
                            {% endif %}

                        </div>

                        <!-- Content -->
                        <div class="content">

                            <!-- Head Content -->
                            <div class="head fix">

                                <!-- Title & Category -->
                                <div class="title-category float-left">
                                    <h5 class="title"><a
                                            href="{% url 'product_details' slug=p.slug %}">{{ p.title }}</a></h5>
                                    <a href="{% url 'category' slug=p.category.slug %}" class="category">{{ p.category }}</a>
                                </div>
                                <!-- Price -->
                                {% if p.discount == 0 %}
                                <div class="price float-right">
                                    <span class="new">tk{{ p.new_price }}</span>

                                </div>
                                {% else %}
                                <div class="price float-right">
                                    <span class="new">tk{{ p.discount_price }}</span>
                                    <!-- Old Price Mockup If Need -->
                                    <span class="old">tk{{ p.new_price }}</span>
                                </div>
                                {% endif %}

                            </div>

                            <!-- Action Button -->
                            {% if p.amount == 0 %}
                            <div class="action-button fix text-center">
                                <a>Not Available</a>
                            </div>
                            {% else %}

                            <div class="action-button fix text-center">
                                <a href="{% url 'Add_to_Shoping_cart' id=p.id %}#{{p.id}}">add to cart</a>
                            </div>

                            {% endif %}

                        </div>

                    </div>

                </div><!-- Product End-->


                {% endfor %}



            </div><!-- Product Wrapper End-->

        </div>
    </div><!-- Product Section End-->




    <!-- Blog Section Start-->
    <div class="blog-section section bg-gray pt-100 pb-60">
        <div class="container">

            <!-- Section Title Start-->
            <div class="row">
                <div class="section-title text-center col mb-60">
                    <h1>Christmas Blog</h1>
                </div>
            </div><!-- Section Title End-->

            <div class="row">

                
                {% for b in blogs  %}
                    <!-- Blog Item Start-->
                <div class="blog-item col-lg-4 col-md-6 col-12 mb-60">

                    <!-- Image -->
                    <a href="{% url 'blog_details' id=b.id %}" class="image"><img src="{{ b.image.url }}"
                            alt="blog"></a>

                    <!-- Content -->
                    <div class="content fix">

                        <!-- Publish Date -->
                        <span class="publish"><span>Published on:</span> {{ b.date_posted|date:'d F, Y' }}</span>

                        <!-- Title -->
                        <h4 class="title"><a href="{% url 'blog_details' id=b.id %}">{{ b.title }}</a></h4>

                        <!-- Decs -->
                        <p>{{ b.content|safe|truncatewords:25 }}</p>

                        <!-- Read More Link -->
                        <a href="{% url 'blog_details' id=b.id %}" class="read-more">Read More</a>

                    </div>

                </div><!-- Blog Item End-->
                {% endfor %}
                    
                

              

            </div>

        </div>
    </div><!-- Blog Section End-->